
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0px !important;
  font-family: 'Tektur';
}

html {
  scroll-behavior: smooth;
}

.card {
  width: 99%;
  height: 200px;
  cursor: pointer;

  /*transition effects */
  -webkit-transition: -webkit-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}


.card-shadow {
 box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card.flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card .front,
.card .back {
  display: block;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card .back {
  text-align: center;
  line-height: 25px;
}

.card .back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card.jukugo_card.flipped {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.card.jukugo_card .back {
  -webkit-transform: rotateY(180deg) rotate(180deg);
  -moz-transform: rotateY(180deg) rotate(180deg);
  -o-transform: rotateY(180deg) rotate(180deg);
  transform: rotateY(180deg) rotate(180deg);
}

.select-box>div {
  min-width: unset !important;
}

.flashSwiper {
  width: 50vw;
  padding: 3rem 0rem !important;
  /* background-color: #33333320; */
  border-radius: 20px;
}

.flashSwiper .card {
  width: 500px;
  height: 500px;
}

.flashSwiper .card .back {
  text-align: center;
  line-height: 70px;
}

.flashSwiper .swiper-slide-active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flashSwiper .swiper-button-left {
  left: 0;
}

.flashSwiper .swiper-button-next {
  right: 0;
}

.flashSwiper .swiper-pagination {
  color: white;
}


.jukugoSwiper {
  width: 50vw;
  padding: 3rem 0rem !important;
  /* background-color: #33333320; */
  border-radius: 20px;
}

.jukugoSwiper .card {
  width: 500px;
  height: 300px;
}

.jukugoSwiper .card .back {
  text-align: center;
  line-height: 70px;
}

.jukugoSwiper .swiper-slide-active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jukugoSwiper .swiper-button-left {
  left: 0;
}

.jukugoSwiper .swiper-button-next {
  right: 0;
}

.jukugoSwiper .swiper-pagination {
  color: white;
}

.option-item .font-light.select-none.cursor-pointer.mt-px {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.rainbow-text {
  background: linear-gradient(to right,
      #ef5350,
      #f48fb1,
      #7e57c2,
      #2196f3,
      #26c6da,
      #43a047,
      #eeff41,
      #f9a825,
      #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 830px) {

  .flashSwiper,
  .jukugoSwiper {
    width: 90vw;
  }

  .flashSwiper .card {
    width: 500px;
    height: 500px;
  }

  .jukugoSwiper .card {
    width: 500px;
    height: 300px;
  }

  .flashSwiper .card .back {
    text-align: center;
    line-height: 70px;
  }

  .jukugoSwiper .card .back {
    text-align: center;
    line-height: 70px;
  }
}

@media screen and (max-width: 620px) {

  .flashSwiper,
  .jukugoSwiper {
    width: 90vw;
    padding: 6rem 0 !important;
  }

  .flashSwiper .swiper-button-prev {
    top: 29rem;
  }

  .flashSwiper .swiper-button-next {
    top: 29rem;
  }

  .flashSwiper .card {
    width: 300px;
    height: 300px;
  }

  .flashSwiper .card .back {
    text-align: center;
    line-height: 40px;
  }

  .jukugoSwiper .swiper-button-prev {
    top: 23rem;
  }

  .jukugoSwiper .swiper-button-next {
    top: 23rem;
  }

  .jukugoSwiper .card {
    width: 300px;
    height: 200px;
  }

  .jukugoSwiper .card .back {
    text-align: center;
    line-height: 40px;
  }
}

.modal-kanji p {
  display: none;
}

#kanji-image p {
  display: none;
}

.group-image figcaption {
  color: #ef5350;
}

.outlined_title {
  color: white !important;
  -webkit-text-stroke: #fb8c00;
  -webkit-text-stroke-width: 2px;
}

button {
  letter-spacing: 2px;
}

.search-view-form svg {
  width: 400px;
  height: 400px;
}

@media screen and (max-width : 380px) {
  .search-view-form svg {
    width: 330px;
    height: 330px;
  }
}

.data-\[active\=true\]\:font-semibold[data-active=true] {
  color: orange !important;
}

#radical-images {
  display: flex;
  gap: 1rem;
}

#kanji-svg text {
  font-size: 5px;
}

nav header {
  max-width: 1280px !important;
}

.prose ol>li{
  margin-bottom: 20px;
}

.prose ol{
list-style-type: disc;
margin-top: 20px;
padding-left: 20px;
}

.prose p {
  margin-bottom: 10px;
}

.prose ul {
  margin-bottom: 20px;
}

@keyframes tilt {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  75% {
    transform: rotate(-3deg);
  }
}

.tilt-animation {
  animation: tilt 1s ease-in-out infinite;
}

.swiper-button-prev,
.swiper-button-next {
  color: orange !important;
}

.rdp-selected .rdp-day_button {
  border-color: #333 !important;
}

button {
  letter-spacing: normal !important;
}